#bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: white;
  /*#side-content {
        height: 1200px;

        border: $defB;
    }*/
  z-index: 1;
}

#bottom #category-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  border-left: 0px;
}

#bottom #category-box #side-bar {
  width: 35px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  border: 1px solid black;
  border-radius: 10px 0 0 10px;
}

#bottom #category-box #side-bar p {
  margin: auto;
  text-align: center;
  line-height: 1px;
}

#bottom #category-box #side-bar:hover {
  cursor: pointer;
  color: cadetblue;
}

#bottom #category-box #category {
  width: 0;
  height: auto;
  border: 1px solid black;
  border-right: 0px;
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#bottom #category-box #category .category-element {
  width: 98%;
  height: 30px;
  margin: auto;
  margin-top: 2px;
  background-color: yellow;
}

#bottom #category-box #category .category-element div {
  margin: auto;
  padding: auto;
  padding-top: 8px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

@-webkit-keyframes category-show {
  from {
    width: 0px;
  }
  to {
    width: 290px;
  }
}

@keyframes category-show {
  from {
    width: 0px;
  }
  to {
    width: 290px;
  }
}

@-webkit-keyframes category-hide {
  from {
    width: 290px;
  }
  to {
    width: 0px;
  }
}

@keyframes category-hide {
  from {
    width: 290px;
  }
  to {
    width: 0px;
  }
}

#bottom #content {
  width: 1000px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: 1px solid black;
  border-right: 0px;
}

#bottom #content #content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 600px;
          column-gap: 600px;
}

#bottom #content #content-top h2 {
  position: relative;
  left: 20px;
}

#bottom #content #content-top #sort {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: auto;
  border: 1px solid black;
}

#bottom #content #content-top #sort p {
  margin: auto;
  text-align: center;
}

.dir-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section {
  width: 850px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 40px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
}

.section .options {
  width: 100px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.section .options .search-options {
  margin: auto;
}

.section .options .search-options .fa-search {
  font-size: 60px;
}

.section .options .search-options .fa-search:hover {
  color: #56797a;
}

.section .options .search-options-box {
  width: 80px;
  height: 98px;
  margin: auto;
  margin-left: 9px;
  margin-top: 91px;
  position: absolute;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
}

.section .options .search-options-box p {
  text-align: center;
  position: relative;
  bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.section .options .search-options-box p:hover {
  font-weight: 600;
  color: cadetblue;
}

.section .options .content-settings {
  margin: auto;
}

.section .options .content-settings .fa-cog {
  font-size: 60px;
}

.section .options .content-settings .fa-cog:hover {
  color: #56797a;
}

.section .options .content-settings-box {
  width: 80px;
  height: 98px;
  margin: auto;
  margin-left: 9px;
  margin-top: 8px;
  position: absolute;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
}

.section .information {
  width: 400px;
  height: 200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .information .information-box {
  margin: auto;
  text-align: center;
  line-height: 25px;
}

.section .media {
  width: 200px;
  height: 200px;
  margin: auto;
  background-size: contain;
  background-position-y: center;
  background-repeat: no-repeat;
}

.section:hover {
  background-color: lavender;
}
/*# sourceMappingURL=Main.css.map */