$defB: 1px solid black;

#top-panel {
    height: 150px;

    display: flex;

    border: $defB;

    #top-left {

        display: flex;

        //border: $defB;

        #logo-header {
            width: fit-content;

            font-size: 30px;

            //border: $defB;

            h1 {
                position: relative;
                bottom: 30px;
            }

            h6 {
                position: relative;
                bottom: 84px;

                align-self: flex-start;

                text-decoration-line: overline;
            }
        }
    
        #info {

            font-size: 20px;
    
            i {
                position: relative;
                top: 25px;
    
                cursor: pointer;
            }

            i:hover {
                color: cadetblue;
            }

            #info-title {
                width: 100px;
                height: 80px;

                position: relative;
                top: 25px;

                font-size: 10px;

                border: $defB;
                border-radius: 6px;
            }
        }
    }

    #top-right {

        width: 100%;

        position: relative;

        display: flex;

        flex-direction: column;

        row-gap: 20px;

        //border: $defB;

        #top-top {
    
            display: flex;

            //border: $defB;
        
            #Directories {

                margin: auto;
    
                align-self: center;

                display: flex;
                column-gap: 10px;
    
                border: $defB;
        
                .dir {
                    width: 180px;
                    height: 42px;
    
                    cursor: pointer;
    
                    user-select: none;
    
                    text-align: center;
                    font-size: 30px;
    
                    border: $defB;
                    border-radius: 10px;
                }
    
                .dir:hover {
                    background-color: cadetblue;
                }
            }
        }
    
        #top-bottom {

            height: 100%;
            
            display: flex;
    
            //border: $defB;
            
            #search-bar {

                display: flex;
                flex-direction: row-reverse;

                margin: auto;

                border: 1px solid black;
    
                #bar {
    
                    width: 28vw;
                    height: 34px;
    
                    font-size: 15px;
    
                    //border: $defB;
    
                }
    
                i {
                    margin: auto;

                    font-size: 16px;
    
                    cursor: pointer;
                }
    
            }
    
            #info-2 {

                width: 35%;
                height: 35px;
    
                display: flex;
    
                position: relative;
                top: 46px;
    
                font-size: 18px;
                text-align: center;
    
                border: $defB;
                border-bottom: 0px;
                border-right: 0px;
                border-radius: 20px 0 0 0;
    
                i {
    
                    position: relative;
                    left: 10px;
                    
                    cursor: pointer;
    
                    align-self: center;
    
                    z-index: 9;
                }
    
                i:hover {
                    color: cadetblue;
                }
    
                #info-details {
    
                    position: relative;
                    bottom: 6px;
    
                    #info-description {
                        font-size: 20px;
        
                        cursor: default;
        
                        user-select: none;
        
                        position: relative;
                        bottom: 5px;
                        left: 25px;
                    }
                    
                    #info-profile {
                        position: relative;
                        bottom: 25px;
                        left: 25px;
    
                        align-self: center;
    
                        display: flex;
    
                        border: $defB;
    
                        z-index: -1;
                    }
    
                    hr {
                        position: relative;
                        bottom: 20px;
                        left: 25px;
    
                        z-index: -1;
                    }
                }
            }
    
            #info-2:hover {
                animation-name: info-2-transform;
                animation-duration: 500ms;
                animation-play-state: running;
                animation-fill-mode: forwards;
            }
    
            @keyframes info-2-transform {
                from  { height: 35px; position: relative; top: 46px; }
                to { height: 75px; position: relative; top: 7px; }
            }
        }
    }
}

#bottom {

    display: flex;

    flex-direction: row-reverse;

    border: $defB;
    background-color: white;
    
    z-index: 2;

    /*#side-content {
        height: 1200px;

        border: $defB;
    }*/

    #category-box {

        display: flex;

        border: $defB;
        border-left: 0px;

        #side-bar {
            width: 35px;
            height: 55px;

            display: flex;

            font-size: 40px;

            border: $defB;
            border-radius: 10px 0 0 10px;

            p {
                margin: auto;

                text-align: center;
                line-height: 1px;
            }
        }

        #side-bar:hover {
            cursor: pointer;
            color: cadetblue;
        }

        #category {
            width: 0px;
            height: auto;

            border: $defB;
            border-right: 0px;

            animation-duration: 100ms;
            animation-play-state: running;
            animation-fill-mode: forwards;
        }

        @keyframes category-show {
            from { width: 0px }
            to { width: 290px }
        }

        @keyframes category-hide {
            from { width: 290px }
            to { width: 0px }
        }

    }

    #content {
        width: 1000px;
        height: max-content;
    
        border: $defB;
        border-right: 0px;

        //border: $defB;

            #content-top {

                display: flex;

                column-gap: 600px;
    
                //border: $defB;
    
                h2 {
    
                    position: relative;
                    left: 20px;
    
                    //border: $defB;
                }
    
                #sort {
                    height: min-content;
    
                    margin: auto;
    
                    border: $defB;
    
                    p {
                        margin: auto;
                        text-align: center;
                    }
                }
            }

    }
}

.dir-content {

    display: flex;

    flex-direction: column;
}

.section {
    width: 850px;
    height: 250px;

    display: flex;

    margin: auto;
    margin-bottom: 40px;

    cursor: pointer;

    border: $defB;
    border-radius: 4px;

    .options {
        width: 100px;
        height: 200px;

        display: flex;

        flex-direction: column;

        margin: auto;

        //border: $defB;

        .search-options {

            margin: auto;

            .fa-search {
                font-size: 60px;

                //border: $defB;
            }
            .fa-search:hover {
                color: rgb(86, 121, 122);
            }

        }

        .search-options-box {
            width: 80px;
            height: 98px;

            margin: auto;
            margin-left: 9px;
            margin-top:  91px;

            position: absolute;

            border: $defB;
            border-radius: 6px;
            background-color: white;

            p {
                text-align: center;
            }
            p:hover {
                font-weight: 600;
                color: cadetblue;
            }
        }

        .content-settings {

            margin: auto;

            .fa-cog {
                font-size: 60px;

                //border: $defB;
            }

            .fa-cog:hover {
                color: rgb(86, 121, 122);
            }
        }

        .content-settings-box {
            width: 80px;
            height: 98px;

            margin: auto;
            margin-left: 9px;
            margin-top: 8px;

            position: absolute;

            border: $defB;
            border-radius: 6px;
            background-color: white;
        }
    }

    .information {
        width: 400px;
        height: 200px;

        margin: auto;

        display: flex;

        //border: $defB;

        .information-box {

            margin: auto;

            text-align: center;
            line-height: 25px;

            //border: $defB;
        }
    }

    .media {
        width: 200px;
        height: 200px;

        margin: auto;

        //border: $defB;
        background-size: contain;
        background-position-y: center;
        background-repeat: no-repeat;
    }
}

.section:not(.information):hover {
    background-color: lavender;
}
