$defB: 1px solid black;

#bottom {

    position: relative;

    display: flex;

    flex-direction: row-reverse;

    //border: $defB;
    background-color: white;

    /*#side-content {
        height: 1200px;

        border: $defB;
    }*/

    z-index: 1;

    #category-box {

        display: flex;

        border: $defB;
        border-left: 0px;

        #side-bar {
            width: 35px;
            height: 55px;

            display: flex;

            font-size: 40px;

            border: $defB;
            border-radius: 10px 0 0 10px;

            p {
                margin: auto;

                text-align: center;
                line-height: 1px;
            }
        }

        #side-bar:hover {
            cursor: pointer;
            color: cadetblue;
        }

        #category {
            width: 0;
            height: auto;

            border: $defB;
            border-right: 0px;

            animation-duration: 100ms;
            animation-play-state: running;
            animation-fill-mode: forwards;

            .category-element {
                width: 98%;
                height: 30px;

                margin: auto;
                margin-top: 2px;

                //border: $defB;
                background-color: yellow;

                div {
                    margin: auto;
                    padding: auto;
                    padding-top: 8px;

                    text-align: center;
                    font-size: 20px;

                    cursor: pointer;
                }
            }
        }

        @keyframes category-show {
            from { width: 0px }
            to { width: 290px }
        }

        @keyframes category-hide {
            from { width: 290px }
            to { width: 0px }
        }

    }

    #content {
        width: 1000px;
        height: max-content;
    
        border: $defB;
        border-right: 0px;

        //border: $defB;
        //background-color: silver;

        #content-top {

            display: flex;

            column-gap: 600px;
    
            //border: $defB;
    
            h2 {
    
                position: relative;
                left: 20px;
    
                //border: $defB;
            }
    
            #sort {
                height: min-content;

                margin: auto;
    
                border: $defB;
    
                p {
                    margin: auto;
                    text-align: center;
                }
            }
        }
    }
}

.dir-content {

    display: flex;

    flex-direction: column;
}

.section {
    width: 850px;
    height: 250px;

    display: flex;

    margin: auto;
    margin-bottom: 40px;

    cursor: pointer;

    border: $defB;
    border-radius: 4px;

    .options {
        width: 100px;
        height: 200px;

        display: flex;

        flex-direction: column;

        margin: auto;

        //border: $defB;

        .search-options {

            margin: auto;

            .fa-search {
                font-size: 60px;

                //border: $defB;
            }
            .fa-search:hover {
                color: rgb(86, 121, 122);
            }

        }

        .search-options-box {
            width: 80px;
            height: 98px;

            margin: auto;
            margin-left: 9px;
            margin-top:  91px;

            position: absolute;

            border: $defB;
            border-radius: 6px;
            background-color: white;

            p {
                text-align: center;

                position: relative;
                bottom: 15px;

                padding-top: 15px;
                padding-bottom: 15px;
            }
            p:hover {
                font-weight: 600;
                color: cadetblue;
            }
        }

        .content-settings {

            margin: auto;

            .fa-cog {
                font-size: 60px;

                //border: $defB;
            }

            .fa-cog:hover {
                color: rgb(86, 121, 122);
            }
        }

        .content-settings-box {
            width: 80px;
            height: 98px;

            margin: auto;
            margin-left: 9px;
            margin-top: 8px;

            position: absolute;

            border: $defB;
            border-radius: 6px;
            background-color: white;
        }
    }

    .information {
        width: 400px;
        height: 200px;

        margin: auto;

        display: flex;

        //border: $defB;

        .information-box {

            margin: auto;

            text-align: center;
            line-height: 25px;

            //border: $defB;
        }
    }

    .media {
        width: 200px;
        height: 200px;

        margin: auto;

        //border: $defB;
        background-size: contain;
        background-position-y: center;
        background-repeat: no-repeat;
    }
}

.section:hover {
    background-color: lavender;
}
