body {
  margin: auto;
}

#top-panel {
  height: 150px;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#00003c));
  background: linear-gradient(0deg, white, #00003c);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#top-panel #top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 20px;
}

#top-panel #top-left #logo-header {
  width: 325px;
  font-size: 30px;
}

#top-panel #top-left #logo-header h1 {
  position: relative;
  bottom: 30px;
  cursor: pointer;
}

#top-panel #top-left #logo-header h6 {
  position: relative;
  bottom: 84px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-text-decoration-line: overline;
          text-decoration-line: overline;
}

#top-panel #top-left #info {
  font-size: 20px;
}

#top-panel #top-left #info i {
  position: relative;
  right: 60px;
  top: 25px;
  cursor: pointer;
}

#top-panel #top-left #info i:hover {
  color: cadetblue;
}

#top-panel #top-left #info #info-title {
  width: 300px;
  height: 240px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: auto;
  margin: -150px 0 0 -150px;
  border: 5px solid silver;
  border-radius: 6px;
  background-color: paleturquoise;
  z-index: 6;
}

#top-panel #top-left #info #info-title #info-title-p {
  width: 250px;
  position: relative;
  top: 52px;
  margin: auto;
  font-size: 20px;
  text-align: center;
}

#top-panel #top-left #info #info-title i {
  margin-left: 135px;
  margin-top: -140px;
  position: fixed;
  left: 50%;
  top: 50%;
}

#top-panel #top-right {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

#top-panel #top-right #top-top {
  direction: rtl;
}

#top-panel #top-right #top-top #Directories {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

#top-panel #top-right #top-top #Directories .dir {
  width: 180px;
  height: 40px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 10px;
}

#top-panel #top-right #top-top #Directories .dir:hover {
  background-color: lavender;
}

#top-panel #top-right #top-bottom {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

#top-panel #top-right #top-bottom #search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: auto;
}

#top-panel #top-right #top-bottom #search-bar #bar {
  width: 38vw;
  height: 34px;
  font-size: 15px;
}

#top-panel #top-right #top-bottom #search-bar i {
  margin: auto;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}

#top-panel #top-right #top-bottom #info-2 {
  width: 30%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 52px;
  font-size: 18px;
  text-align: center;
  border: 1px solid black;
  border-bottom: 0px;
  border-right: 0px;
  border-radius: 20px 0 0 0;
}

#top-panel #top-right #top-bottom #info-2 i {
  position: relative;
  left: 10px;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 2;
}

#top-panel #top-right #top-bottom #info-2 i:hover {
  color: cadetblue;
}

#top-panel #top-right #top-bottom #info-2 #info-details {
  position: relative;
  bottom: 6px;
  z-index: 4;
}

#top-panel #top-right #top-bottom #info-2 #info-details #info-description {
  font-size: 20px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  bottom: 5px;
  left: 25px;
}

#top-panel #top-right #top-bottom #info-2 #info-details #info-profile {
  position: relative;
  bottom: 25px;
  left: 25px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

#top-panel #top-right #top-bottom #info-2 #info-details #info-profile a {
  position: relative;
  margin: auto;
  cursor: pointer;
  color: navy;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

#top-panel #top-right #top-bottom #info-2 #info-details #info-profile a:hover {
  color: royalblue;
}

#top-panel #top-right #top-bottom #info-2 #info-details hr {
  position: relative;
  bottom: 20px;
  left: 25px;
}

#top-panel #top-right #top-bottom #info-2:hover {
  -webkit-animation-name: info-2-transform;
          animation-name: info-2-transform;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes info-2-transform {
  from {
    height: 35px;
    position: relative;
    top: 52px;
  }
  to {
    height: 75px;
    position: relative;
    top: 12px;
  }
}

@keyframes info-2-transform {
  from {
    height: 35px;
    position: relative;
    top: 52px;
  }
  to {
    height: 75px;
    position: relative;
    top: 12px;
  }
}
/*# sourceMappingURL=MasterStyle.css.map */