body {
    margin: auto;
}

$defB: 1px solid black;

#top-panel {
    //width: 100%;
    height: 150px;

    background: linear-gradient(-10deg, rgb(240, 206, 57), white, rgb(240, 206, 57));
    
    position: relative;
    

    display: flex;

    //border: $defB;

    #top-left {

        display: flex;

        position: relative;
        left: 20px;

        //border: $defB;

        #logo-header {

            width: 325px;

            font-size: 30px;

            //border: $defB;

            h1 {
                position: relative;
                bottom: 30px;

                //border: $defB;
            }

            h6 {
                position: relative;
                bottom: 84px;

                align-self: flex-start;

                text-decoration-line: overline;

                //border: $defB;
            }
        }
    
        #info {

            font-size: 20px;
    
            i {
                position: relative;
                right: 60px;
                top: 25px;
    
                cursor: pointer;
            }

            i:hover {
                color: cadetblue;
            }

            #info-title {
                width: 300px;
                height: 240px;

                position: fixed;
                left: 50%;
                top: 50%;

                margin: auto;
                margin: -150px 0 0 -150px;  

                border: 5px solid silver;
                border-radius: 6px;
                background-color: paleturquoise;

                z-index: 3;

                #info-title-p {
                    width: 250px;

                    position: relative;
                    top: 52px;

                    margin: auto;

                    font-size: 20px;
                    text-align: center;

                    //border: $defB;
                }

                i {
                    margin-left: 135px;
                    margin-top: -140px;

                    position: fixed;
                    left: 50%;
                    top: 50%;
                }
            }
        }
    }

    #top-right {

        width: 100%;

        position: relative;

        display: flex;

        flex-direction: column;

        row-gap: 20px;

        //border: $defB;

        #top-top {

            direction: rtl;

            //border: $defB;
        
            #Directories {
                width: fit-content;

                //margin: auto;

                display: flex;
                column-gap: 20px;
    
                //border: $defB;
        
                .dir {
                    width: 180px;
                    height: 40px;
    
                    cursor: pointer;
    
                    user-select: none;
    
                    text-align: center;
                    font-size: 30px;
    
                    border: $defB;
                    border-radius: 10px;
                }
    
                .dir:hover {
                    background-color: lavender;
                }
            }
        }
    
        #top-bottom {

            height: 100%;
            
            display: flex;

            column-gap: 50px;
    
            //border: $defB;
            
            #search-bar {

                display: flex;
                flex-direction: row-reverse;

                margin: auto;

                //border: $defB;
    
                #bar {
    
                    width: 38vw;
                    height: 34px;
    
                    font-size: 15px;
    
                    //border: $defB;
    
                }
    
                i {
                    margin: auto;
                    margin-right: 10px;

                    font-size: 16px;
    
                    cursor: pointer;
                }
    
            }
    
            #info-2 {

                width: 30%;
                height: 35px;
    
                display: flex;
    
                position: relative;
                top: 52px;
                //left: 100%;
    
                font-size: 18px;
                text-align: center;
    
                border: $defB;
                border-bottom: 0px;
                border-right: 0px;
                border-radius: 20px 0 0 0;

                i {
    
                    position: relative;
                    left: 10px;
                    
                    cursor: pointer;
    
                    align-self: center;
    
                    z-index: 2;
                }
    
                i:hover {
                    color: cadetblue;
                }
    
                #info-details {

                    position: relative;
                    bottom: 6px;
    
                    #info-description {
                        font-size: 20px;
        
                        cursor: default;
        
                        user-select: none;
        
                        position: relative;
                        bottom: 5px;
                        left: 25px;
                    }
                    
                    #info-profile {
                        position: relative;
                        bottom: 25px;
                        left: 25px;
    
                        align-self: center;
    
                        display: flex;
    
                        //border: $defB;

                        a {
                            position: relative;

                            margin: auto;

                            cursor: pointer;

                            color: navy;
                            text-decoration-line: underline;

                            user-select: none;
                        }

                        a:hover { color: royalblue; }
                    }
    
                    hr {
                        position: relative;
                        bottom: 20px;
                        left: 25px;
                    }
                }
            }
    
            #info-2:hover {
                animation-name: info-2-transform;
                animation-duration: 500ms;
                animation-play-state: running;
                animation-fill-mode: forwards;
            }
    
            @keyframes info-2-transform {
                from  { height: 35px; position: relative; top: 52px; }
                to { height: 75px; position: relative; top: 12px;}
            }
        }
    }
}