$defB: 1px solid black;

#registration {
    height: 1000px;

    display: grid;

    //border: $defB;

    #registration-form {
        width: 60%;
        height: 100%;

        justify-self: center;

        border: $defB;
    }
}